@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Basis Grotesque;
  src: url(../public/BasisGrotesqueArabicPro-Regular.ttf);
}

* {
  font-family: "Basis Grotesque", Arial, Helvetica, sans-serif;
}
